nav{
    background-color: #000;
    width: 100%;
    height: 80px;
    border-top: 1px solid black;
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu{
    list-style: none;
    display: flex;
    margin-right: 80px;
    font-size: 20px;
    align-items: center;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    display: block;
    height: 100%;
    padding: 15px;
    transition: background-color 0.8s;
}

.menu li a:hover{
    background-color: #585858;
    font-size: 22px;
}

header{
    width: 100vw;
    text-align: center;
    margin: 50px 0 30px;
}

header .titulo{
    color: #fff;
    font-size: 45px;
    margin-bottom: 16px;
}
header .opcoes{
    margin: 0 auto;
    max-width: 300px;
    display: flex;
    justify-content: space-evenly;
}

header .opcoes .opcao{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
}

.opcoes .opcao.op1{
    border-bottom: 3px solid #fff;
}
.opcoes .opcao.op2{
    border-bottom: 3px solid #fff;
}

main{
    margin: 0 auto;
    width: 50vw;
}

main .projeto{
    height: 250px;
    border-radius: 15px;
    background-color: #aaa;
    box-shadow: 2px 2px 5px #000;
    display: flex;
    overflow: hidden;
    margin-bottom: 16px;
}

.projeto .informacoes{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.informacoes .descricao{
    word-wrap: break-word;
    font-size: 18px;
}

.informacoes .links-e-techs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*icones de link*/
.informacoes .links-e-techs .links{
    display: flex;
    gap: 10px;
}
.informacoes .links-e-techs .links>*{
    list-style: none;
    background-color: #fff;
    aspect-ratio: 1;
    height: 35px;
    border-radius: 50%;  
    overflow: hidden;  
}
.informacoes .links-e-techs .links>:nth-child(1) img{
    width: 70%;
    margin: 5px;
}
.informacoes .links-e-techs .links>:nth-child(2) img{
    width: 100%;
}

.informacoes .links-e-techs .techs{
    display: flex;
    gap: 10px;
}

.informacoes .links-e-techs .techs>*{
    list-style: none;
    font-size: 20px;
}

.projeto .img{
    overflow: hidden;
    min-width: 285px;
    /* border: 2px solid red; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.projeto .img img{
    width: auto;
    height: 100%;
}
.projeto .img .netflix{
    margin-left: -34px;
    transform: scale(0.9);
}