*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(../Img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.menu .aba3 a{
    font-size: 25px;
    max-width: 80px;
}

.menu .aba3 a:hover{
    background-color: #585858;
    font-size: 1.8rem;
}