/* CSS responsivo dos contatos */

@media (max-width:640px) {
    .menu{
        margin: 40px;
    }
}

@media (max-width:550px) {
    .menu li a{
        font-size: 1rem;
    }
    .menu li a:hover {
        font-size: 1.12rem;
    }
}

@media (max-width:400px) {
    .titulo_contato{
        font-size: 1.56rem;
    }
}