/* CSS responsivo do index */

@media (max-width: 1200px) {
    .icons_1{
        display: flex;
        align-items: center;
        position: relative;
        width: 35vw;
        justify-content: space-between;
    }
    .css{
        position: absolute;
        margin: 0 calc((100% - 170px)/2);
    }
    .html, .js {
        width: 160px;
        height: 160px;
    }
}

@media (max-width: 1000px) { 
    .sobre{
        width: 90%;
    }
    
    .descricao{
        flex-direction: column-reverse;
        align-items: flex-start;
        max-height: 500px;
    }

    .icons_1{
        width: 80vw;
    }
    .sobre{
        margin: 10px 40px;
    }
}


@media (max-width:768px) { 

    .card-skills{
        justify-content: space-around;
        gap:25px;
    }
}

@media (max-width:720px) {
    .menu{
        margin: 40px;
    }
    .intro{
        padding-left: 5vw;
    }
    .sobre{
        margin: 10px 20px 20px;
    }

    .card-skills{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 90%;
    }
    .tipo-skill{
        text-align: start;
    }
    .skills li{
        margin-top: 4px;
    }
    .rodape-inicio{
        margin-top: 30px;
    }
}


@media (max-width:550px) {
    .nome{
        font-size: 3.12rem;
        line-height: 55px;
    }
    .titulo_sobre{
        font-size: 2.18rem;
    }
    .texto_sobre{
        font-size: 1.12rem;
    }

    .rodape-inicio .footer-img{
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 480px) {
    .menu{
        margin: 0;
    }

    .css{
        width: 150px;
        height: 150px;
        margin: 0 calc((100% - 160px)/2);
    }
    .html, .js{
        width: 130px;
        height: 130px;
    }
    .html:hover, .js:hover{
        width: 140px;
        height: 140px;
    }
    .css:hover{
        width: 155px;
        height: 155px;
    }

    .sobre{
        margin-bottom: 30px;
    }
    .titulo_sobre{
        font-size: 30px;
    }
    .texto_sobre{
        font-size: 16px;
    }

    .rodape-inicio{
        gap: 1.5%;
    }
    .rodape-inicio p, span{
        font-size: 0.9rem;

    }
}

@media (max-width: 360px) {
    .nome{
        font-size: 2.81rem;
    }

    .css{
        width: 130px;
        height: 130px;
        margin: 0 calc((100% - 130px)/2);
    }
    .html, .js{
        width: 120px;
        height: 120px;
    }
    .html:hover, .js:hover{
        width: 130px;
        height: 130px;
    }
    .css:hover{
        width: 140px;
        height: 140px;
    }
    .descricao {
        height: 70vh;
    }
    .sobre{
        margin-bottom: 50px;
    }
}